<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- 本地cache策略 -->
	<bean name="localCacheStrategy" class="com.ibusiness.core.ext.cache.LocalCacheStrategy"/>
    <!-- 远程cache策略 -->
	<bean name="remoteCacheStrategy" class="com.ibusiness.core.ext.cache.RemoteCacheStrategy"/>
	
</beans>